.btn {
  font-size: large;
  display: block;
  background-color: blue;
  height: 40px;
  width: 60px;
  margin: 40px;
  color: white;
}
.input {
  margin: 2px;
  border-radius: 5px;
  padding: 2px;
}
div {
  display: flex;
  justify-content: center;
  margin: 45px;
  background-color: blueviolet;
  width: 40%;
  font-size: large;
  font-weight: 600;
  color: #f5f2f2;
}
